@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
* {
    padding:0 ;
    margin: 0;
    box-sizing: border-box;
}

.body{
    background-image: url(./bg/bg.jpg);
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.board{
    background: linear-gradient( 134deg , rgb(229, 242, 91), rgb(195, 229, 153));
    height: 90vmin;
    width: 90vmin;
    box-shadow: 2px 02px 12px 2px white;
    display: grid;
    grid-template-rows: repeat(20 , 1fr);
    grid-template-columns: repeat(20 , 1fr);

}
.head{
    background: linear-gradient(70deg , rgb(2, 79, 2) , rgb(8, 81, 4));
    border-radius: 12px;
}
.food{
    background: linear-gradient(13deg , red , greenyellow);
    border: 1px solid white;
    border-radius: 8px;
}
.snake{
    background: linear-gradient(1100deg , darkgreen , greenyellow);
    border-radius: 10px;
}

#scoreBox{
    position: absolute;
    top: 40px;
    right: 300px;
    font-size: 40px;
    font-family: "Exo 2", sans-serif;
    color: whitesmoke;
}